<div class="container" ng-controller="fupController">
    <div class="panel panel-info">
        <div class="panel-heading">
            Fotos
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <td>Título</td>
                        <td>Imagem</td>
                        <td>Tamanho</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="image in imagesrc track by $index">
                        <td>{{image.Name}}</td>
                        <td>
                            <img ng-src="{{image.Src}}" title="{{image.title}}" style="width:100px;" />
                        </td>
                        <td>{{image.Size}}</td>
                    </tr>
                </tbody>
            </table>
            <div class="row">
                <div class="col-lg-7">
                    <input type="file" multiple ng-files="getTheFiles($files)" />
                </div>
                <div class="col-lg-5">
                    <input ng-disabled="!imagesrc.length" type="button" class="btn-success" ng-click="uploadFiles()" value="Upload" />
                    <input ng-disabled="!imagesrc.length" type="button" class="btn-success" ng-click="reset()" value="Cancelar" />
                </div>
            </div>
        </div>
    </div>
</div>
