<div class="row">
    <div class="col-md-12" ng-controller="VeiculoController" style="text-align='center'">
        <div class="form-group">
            <button type="button" class="btn btn-primary" ng-click="NewVeiculo()">Novo Veículo</button>
        </div>
        <table class="table table-hover table-bordered">
            <thead>
                <tr>
                    <th>Placa</th>
                    <th>Tipo de Veículo</th>
                    <th>Proprietário</th>
                    <th>Visualizar</th>
                    <th>Editar</th>
                    <th>Excluir</th>
                </tr>
            </thead>
            <tbody>
                <tr ng-repeat="obj in result">
                    <td>{{obj.placa}}</td>
                    <td>{{obj.tipoVeiculo.titulo}}</td>
                    <td>{{obj.proprietario}}</td>
                    <td><button type="button" class="btn btn-info" ng-click="InfoVeiculo(obj.id)"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Visualizar</button></td>
                    <td><button type="button" class="btn btn-warning" ng-click="EditVeiculo(obj.id)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</button></td>
                    <td><button type="button" class="btn btn-danger" ng-click="DeletaVeiculo(obj.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Excluir</button></td>
                </tr>                
            </tbody>
        </table>
        
    </div>

    
</div>
