<div class="container" ng-controller="VeiculoController">
    <div class="panel panel-info" style="margin-top:10px">
        <div class="row"  style="margin:10px 0 0 15px">
                <button type="button" class="btn btn-primary" ng-click="NewVeiculo()">Novo Veículo</button>
        </div>
        <div class="panel-body">
            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <td>Placa</td>
                        <td>Tipo de Veículo</td>
                        <td>Proprietário</td>
                        <td>Adicionar Fotos</td>
                        <td>Visualizar</td>
                        <td>Editar</td>
                        <td>Excluir</td>
                    </tr>
                </thead>
                <tbody>
                    <tr ng-repeat="obj in result">
                        <td>{{obj.placa}}</td>
                        <td>{{obj.tipoVeiculo.titulo}}</td>
                        <td>{{obj.proprietario}}</td>
                        <td><button type="button" class="btn btn-success" ng-click="AddFotos(obj.id)"><span class="glyphicon glyphicon-picture" aria-hidden="true"></span> Adicionar</button></td>
                        <td><button type="button" class="btn btn-info" ng-click="InfoVeiculo(obj.id)"><span class="glyphicon glyphicon-info-sign" aria-hidden="true"></span> Visualizar</button></td>
                        <td><button type="button" class="btn btn-warning" ng-click="EditVeiculo(obj.id)"><span class="glyphicon glyphicon-edit" aria-hidden="true"></span> Editar</button></td>
                        <td><button type="button" class="btn btn-danger" ng-click="DeletaVeiculo(obj.id)"><span class="glyphicon glyphicon-remove" aria-hidden="true"></span> Excluir</button></td>
                    </tr>
                </tbody>
            </table>
        </div>
    </div>
</div>

