<div class="container" ng-controller="InfoController">
    <div class="panel panel-info" style="margin-top:10px">
        <div class="panel-heading">Informações do Veículo</div>
        <div class="panel-body">
            <ul class="list-group">
                <li class="list-group-item">Placa: {{info.placa}} </li>
                <li class="list-group-item">Tipo de Veículo: {{tipoVeiculo.titulo}}</li>
                <li class="list-group-item">Proprietário: {{info.proprietario}}</li>
            </ul>
            <div class="panel panel-default" ng-if="fotos">
                <div class="panel-heading">Imagens: </div>
                <div class="panel-body">
                    <img ng-repeat="image in imagens" ng-src="{{image.fileName}}" title="{{image.title}}" style="width:120px; margin:10px 0 0 10px;" />
                </div>
            </div>

        </div>
    </div>
</div>

