<div class="row">
    <div class="col-md-12" ng-controller="InfoController" style="text-align='center'">
        <div class="panel panel-default">
            <div class="panel-heading">Informações do Veículo</div>
            <ul class="list-group">
                <li class="list-group-item">Placa: {{info.placa}} </li>
                <li class="list-group-item">Tipo de Veículo: {{tipoVeiculo.titulo}}</li>
                <li class="list-group-item">Proprietário: {{info.proprietario}}</li>
            </ul>
        </div>
    </div>
</div>

